<div class="w-full min-h-screen overflow-hidden grid place-items-center">
    <div class="flex flex-col items-center gap-2">
        <h1 class="text-5xl">404</h1>
        <p>Are you lost?</p>
        <a href="/" class="btn btn-sm">Go Home</a>
    </div>
</div>
