---
import MdiHome from "~icons/mdi/home";
import MdiCrane from "~icons/mdi/crane";
import MdiHeadLightbulb from "~icons/mdi/head-lightbulb";

const links = [
    {
        label: "Home",
        href: "/",
        Icon: MdiHome,
    },
    {
        label: "Posts",
        href: "/posts/1",
        Icon: MdiHeadLightbulb,
    },
];

const isActive = (href: string) => {
    const curRoute = Astro.url.pathname || "/";
    return (
        (href !== "/" && curRoute.startsWith(href)) ||
        (href === "/" && curRoute === href)
    );
};
---

<header
    class="w-full max-w-3xl mx-auto flex flex-row items-center gap-4 justify-center p-2"
>
    <slot name="left" />

    <div>
        <div class="tabs tabs-boxed border">
            {
                links.map((lnk) => {
                    const activeLink = isActive(lnk.href);
                    return (
                        <a
                            href={lnk.href}
                            class={
                                "inline-flex items-center gap-1 tab " +
                                (activeLink ? "tab-active" : "")
                            }
                        >
                            <lnk.Icon class="text-xl" />
                            <span class="hidden md:inline-block">
                                {lnk.label}
                            </span>
                        </a>
                    );
                })
            }
        </div>
        <div
            id="loader"
            class={"rounded-b-xl sticky top-0 z-50 w-full min-h-[4px] bg-white"}
        >
        </div>
    </div>

    <slot name="right" />
</header>

<script>
    import { isLoading } from "./states";

    isLoading.subscribe((val) => {
        const loader = document.getElementById("loader");
        if (!loader) return;

        if (val) {
            loader.classList.add("animated-gradient");
        } else {
            loader.classList.remove("animated-gradient");
        }
    });
</script>

<style>
    .animated-gradient {
        background: repeating-linear-gradient(
            to right,
            blue 0%,
            #e80b0b 50%,
            rgb(4, 145, 103) 100%
        );
        width: 100%;
        background-size: 200% auto;
        background-position: 0 100%;
        animation: gradient 2s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
    }

    @keyframes gradient {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -200% 0;
        }
    }
</style>
